/node_modules/
/var/
/vendor/
/web/assets/
/.idea/encodings.xml
/.idea/.gitignore
/.idea/.name
/web/var/cache/doctrine/proxies/__CG__AppEntitiesPortfolio.php
/web/var/cache/doctrine/proxies/__CG__AppEntitiesTicker.php
/web/var/cache/doctrine/proxies/__CG__SVAppEntitiesPortfolio.php
/web/var/cache/doctrine/proxies/__CG__SVAppEntitiesTicker.php
/.idea/composerJson.xml
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/copyright/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dictionaries/Sergey_Vetko.xml
/.idea/sshConfigs.xml
/.idea/svassets.iml
/.idea/vcs.xml
/.idea/webServers.xml
