{% extends 'layout.html.twig' %}
{% set active = 'portfolio' %}

{% block content %}

	<h1>{{ 'Portfolio'|trans }}</h1>
	<ul>
		{% for portfolio in allPortfolios %}
			<li>{{ portfolio.Name }}</li>
			<ul>
				{% for asset in portfolio.Assets %}
					<li>{{ asset.aID }}. {{ asset.Ticker.Code }}</li>
				{% endfor %}
			</ul>

		{% endfor %}
	</ul>

{% endblock %}
