<!DOCTYPE html>
<html ng-app="TickerService">
<head>
	<title>Angular Resource Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/web/js/services.js"></script>
	<script src="/web/js/controllers.js"></script>
</head>
<body ng-controller="TickerController" id="myBody">

<h2>Tickets list <a href="#" ng-click="refresh()">refresh</a></h2>

<form>
	<input type="text" ng-model="Code" placeholder="code">
	<input type="text" ng-model="Description" placeholder="description">

	<button ng-click="add()" ng-show='addMode'>Create</button>
	<button ng-click="update()" ng-hide='addMode'>Update</button>
	<button ng-click="cancel()" ng-hide='addMode'>Cancel</button>
</form>

{% verbatim %}
Two times  <input type="text" ng-model="num"> equals {{ double(num) }}
{% endverbatim %}

<ul>
	<li ng-repeat="ticker in tickers">
		{% verbatim %}
		    {{ ticker.Code }}: {{ticker.Description}}
		{% endverbatim %}
		<a href="#" ng-click="deleteTicker($index, ticker.Code)">delete</a>

		<a href="#" ng-click="selectTicker($index)">edit</a>
	</li>
</ul>

</body>
</html>